# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\스프링\ioc\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
